/VisRecWatsonImpl/target/
/VisRecDl4jImpl/target/
/VisRecOpenImaj/target/
/VisualRecognitionApi/target/
.idea/
*.iml
.gradle/
gradle/
*/build/**
/tck/target/
VisualRecognitionApi/src/main/resources/META-INF/services/javax.visrec.*
VisualRecognitionApi/src/main/java/jsr381/
